@charset "utf-8";

@import
  "partials/palete_color",
  "partials/mixins",
  "partials/reset",
  "partials/grid",
  "partials/font-awesome/font-awesome",
  "partials/block/header",
  "partials/block/contact",
  "partials/block/personal_info",
  "partials/block/education",
  "partials/block/work",
  "partials/block/skill",
  "partials/block/footer";

html, body {
  font: {
    family: 'Verdana', sans-serif;
  }
  height: 100%;
  width: 100%;
}

.container-fluid {
  position: relative;  
  @media (min-width: 80rem) {
    width: 70%;
    &::before {
      background: darken(colors(color, third), 20);
      content: '';
      @include clearfix(block, visible);
      width: 3rem;
      height: 100%;
      position: absolute;
      left: -3rem;
      top: 0;
    }
    &::after {
      background: darken(colors(color, third), 30);
      content: '';
      @include clearfix(block, visible);
      width: .55rem;
      height: 100%;
      position: absolute;
      left: -.5rem;
      top: 0;
      z-index: 1;
    }
  }
}

.infos, .educations,
.works, .skills {
  
  @media (min-width: 768px) {
    border: {
      top: .5rem solid colors(color, third);
    }
  }
  @media(min-width: 1280px) {
    margin: {
      top: 4rem;
    }
  }
  &_title {
    background: colors(color, third);
    color: colors(color, base);
    font: {
      size: 2rem;
    }
    margin: {
      bottom: 1rem;
    }
    padding: {
      top: 1rem;
      bottom: 1rem;
      left: 1rem;
    }
    position: relative;
    @include text-transform(capitalize);
    @media (min-width: 768px) {
      position: absolute;
      top: -4rem;
    }
    @media(min-width: 1024px) {
      &::after, &::before {
        left: -1.1rem;
        position: absolute;
      }
      &::before {
        background: colors(color, third);
        content: '';
        @include clearfix(block, visible);
        top: 0;
        width: 1.2rem;
        height: 100%;
        z-index: 9;
      }
      &::after {
        content: '';
        @include clearfix(inline-block, visible);
        border: {
          top: .65rem solid darken(colors(color, third), 30);
          bottom: .65rem solid transparent;
          left: .65rem solid transparent;
        }
        top: 100%;
        z-index: 8;
      }
    }
    @media (min-width: 1280px) {
      &::after, &::before {
        left: -1rem;
      }
    }
  }
}