.infos {
  &::before {
    content: '';
    @include clearfix(block, hidden);
  }
  &_about {
    @media(min-width: 1024px) {
      padding: {
        right: 1rem;
      }
    }
    p {
      color: lighten(colors(color, dark), 30);
      font: {
        size: 1.2rem;
      }
      padding: 1rem;
    }
    @media (min-width: 768px) {
      padding: {
        right: 1rem;
      }
      .infos_title {
        width: 70%;
      }
    }
  }
  &_contact {
    background: lighten(colors(color, dark), 90);
    color: lighten(colors(color, dark), 30);
    font: {
      size: 1.2rem;
    }
    margin: {
      top: 1.5rem;
    }
    padding: {
      bottom: 1rem;
    }
    word: {
      break: break-all;
      wrap: break-word;
    }
    .fa {
      position: absolute;
      left: 0;
      top: 0;
    }
    @media (min-width: 1200px) {
      .street {
        margin: {
          top: 2rem;
        }
        
      }
    }
    .street, .phone {
      .fa {
        top: .5rem;
      }
    }
    .street, .phone, .email {
      font: {
        size: 1rem;
      }
      padding: {
        left: 1.2rem;
      }
    }
    .phone, .email {
      margin: {
        top: 1.8rem;
      }
    }
    span {
      display: block;
      width: 100%;
    }
    a {
      color: inherit;
    }
    p {
      margin: {
        left: 1rem;
      }
    }
    .infos_title {
      background: colors(color, dark);
      @media (min-width: 768px) {
        width: 100%;
        &::before, &::after {
          @include clearfix(block, hidden);
        }
      }
    }
    @media (min-width: 768px) {
      margin: {
        top: 0;
      }      
    }
  }
  @media (min-width: 768px) {
    border: {
      top: .5rem solid colors(color, third);
    }
  }
}