.header {
  padding: {
    top: 1rem;
    bottom: 1rem;
  }
  .name {
    color: colors(color, third);
    font: {
      size: 4rem;
      weight: bold;
    }
    @extend %text-center;
    @media (min-width: 375px) {
      font: {
        size: 6rem;
      }
    }
    @media (min-width: 768px) {
      text: {
        align: left;
      }
    }
  }
  .job {
    color: lighten(colors(color, dark), 45);
    font: {
      size: 1.8rem;
    }
    @extend %text-center;
    @media (min-width: 768px) {
      font: {
        size: 2.5rem;
      }
      margin: {
        top: -1rem;
      }
      text: {
        align: left;
      }
    }    
  }
}