.header {
  padding: {
    top: 1rem;
    bottom: 1rem;
  }
  .name {
    color: colors(color, third);
    font: {
      size: 4.8rem;
      weight: bold;
    }
    @extend %text-center;
    @media (min-width: 375px) {
      font: {
        size: 5rem;
      }
    }
    @media (min-width: 768px) {
      text: {
        align: left;
      }
    }
  }
  .job {
    color: lighten(colors(color, dark), 45);
    font: {
      size: 3.8rem;
    }
    margin: {
      top: 1rem;
    }
    @extend %text-center;
    @media (min-width: 768px) {
      font: {
        size: 2.3rem;
      }
      margin: {
        top: -.5rem;
      }
      padding: {
        left: .2rem;
      }
      text: {
        align: left;
      }
    }    
  }
}