.skills {
  margin: {
    bottom: 2rem;
  }
  @media (min-width: 768px) {
    &_title {
      width: 35%;
    }
  }
  .skill {
    margin: {
      top: 1rem;
    }
    padding: {
      left: 1rem;
    }
    &_name {
      font: {
        size: 2rem;
      }
      margin: {
        bottom: .5rem;
      }
    }
    &_percent {
      background: colors(color, third);
      border: {
        radius: 1rem;
      }
      color: transparent;
      position: relative;
      &::before {
        border: {
          radius: 1rem;
        }
        content: 'lucas';
        @include clearfix(block, visible);
      }
    }
  }
}