@mixin clearfix($diplay, $hidden) {
  clear: both;
  display: $diplay;
  visibility: $hidden;
}
@mixin text-transform($transform) {
  text: {
    transform: $transform;
  }
}
@mixin space($top, $right, $bottom: $top, $left: $right) {
  padding: {
    bottom: $bottom;
    left: $left;
    right: $right;
    top: $top;
  }
}
%text-center {
  text: {
    align: center;
  }
}
%text-left {
  text: {
    align: left;
  }
}

%border_bottom {
  border: {
    bottom: {
      color: darken(colors(color, medium), 10);
      style: solid;
      width: .1rem;
    }
  }
}

%skill90 {
  background:
    linear-gradient(to right,
      colors(color, first) 0%,
      colors(color, first) 10%,
      colors(color, second) 10%,
      colors(color, second) 20%,
      darken(colors(color, second), 20) 20%,
      darken(colors(color, second), 20) 30%,
      colors(color, third) 30%,
      colors(color, third) 40%,
      darken(colors(color, third), 20) 40%,
      darken(colors(color, third), 20) 50%,
      colors(color, four) 50%,
      colors(color, four) 60%,
      darken(colors(color, four), 20) 60%,
      darken(colors(color, four), 20) 70%,
      colors(color, five) 70%,
      colors(color, five) 80%,
      darken(colors(color, five), 20) 80%,
      darken(colors(color, five), 20) 90%,
      darken(colors(color, five), 30) 90%,
      darken(colors(color, five), 30) 100%
    );
}

%skill70 {
  background:
    linear-gradient(to right,
      colors(color, first) 0%,
      colors(color, first) 14.28%,
      colors(color, second) 14.28%,
      colors(color, second) 28.56%,
      darken(colors(color, second), 20) 28.56%,
      darken(colors(color, second), 20) 42.84%,
      colors(color, third) 42.84%,
      colors(color, third) 57.12%,
      colors(color, four) 57.12%,
      colors(color, four) 71.4%,
      colors(color, five) 71.4%,
      colors(color, five) 85.68%,
      darken(colors(color, five), 30) 85.68%
    );
}

%skill50 {
  background:
    linear-gradient(to right,
      colors(color, first) 0%,
      colors(color, first) 20%,
      colors(color, third) 20%,
      colors(color, third) 40%,
      darken(colors(color, third), 20), 40%,
      darken(colors(color, third), 20), 60%,
      colors(color, four) 60%,
      colors(color, four) 80%,
      darken(colors(color, five), 30) 80%
    );
}

%skill30 {
  background:
    linear-gradient(to right,
      colors(color, first) 0%,
      colors(color, first) 25%,
      colors(color, second) 25%,
      colors(color, second) 50%,
      colors(color, third) 50%,
      colors(color, third) 75%,
      darken(colors(color, five), 30) 75%
    );
}

%skill20 {
  background:
    linear-gradient(to right,
      colors(color, first) 0%,
      colors(color, first) 33%,
      colors(color, third) 33%,
      colors(color, third) 66%,
      darken(colors(color, five), 30) 66%
    );
}