@mixin clearfix($diplay, $hidden) {
  clear: both;
  display: $diplay;
  visibility: $hidden;
}
@mixin text-transform($transform) {
  text: {
    transform: $transform;
  }
}
@mixin space($top, $right, $bottom: $top, $left: $right) {
  padding: {
    bottom: $bottom;
    left: $left;
    right: $right;
    top: $top;
  }
}
%text-center {
  text: {
    align: center;
  }
}
%text-left {
  text: {
    align: left;
  }
}

%border_bottom {
  border: {
    bottom: {
      color: darken(colors(color, medium), 10);
      style: solid;
      width: .1rem;
    }
  }
}