@mixin clearfix($diplay, $hidden) {
  clear: both;
  display: $diplay;
  visibility: $hidden;
}
@mixin text-transform($transform) {
  text: {
    transform: $transform;
  }
}

%text-center {
  text: {
    align: center;
  }
}
%text-left {
  text: {
    align: left;
  }
}