@function colors($color, $type:base) {
  $colors: (
    color: (
      base: #eaeaea,
      medium: #e6e6e6,
      dark: #000,
      first: #bd5d00,
      second: #49ffff,
      third: #2eadff,
      four: #b0e800,
      five: #00f931,
      six: #8700fe
    )
  );
  
  $returnColor: map-get($colors, $color);
  @return map-get($returnColor, $type);
}